p {
  font-size: 14px;
  color: #202224;
}
h1 h2 h3 {
  font-weight: 500;
  color: #202224;
}
     .table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 15px 15px 15px;


  border-radius: 12px;
  background: #fff;
  box-sizing: border-box;
}

.email-send-icon {
  color: #007bff;
  cursor: pointer;
  margin-right:10px;
  font-size: 20px;
}

.success {
  color: #3e7bfa;
}

.error {
  color: #ff4d4f;
}